@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
* {
    margin: 0 auto;
    padding: 0 auto;
}

a {
    color: #ff6f00
}

.btn {
    background: linear-gradient(to right, #ff6f00, #ff9100);
    border-color: #ff6f00;
}

.btn:hover {
    border-color: none;
    border-color: #ff6f00;
}

body {
    background: #fff;
    color: #616161;
}

.topbar {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    color: #616161;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15)
}

.user-content {
    margin: 40px 0 80px 0;
    padding-bottom: 30px;
}

.toggle-note {
    background: #fff;
    padding: 30px 20px;
    border-bottom: 1px solid #e6ecf0;
}

.note-input {
    margin: 0 0 40px 0;
}

input[type=text]:focus {
    border-color: #ff6f00;
    outline: none
}

textarea:focus {
    border-color: #ff6f00 !important;
}

.save-note,
.share-note {
    padding: 30px 10px;
    border-bottom: 1px solid #e6ecf0;
}

.save-note {
    margin-bottom: 60px;
}

.heading-title {}

.title-dec {
    color: #ff6f00;
    font-size: 28px;
    font-weight: bold;
    margin: 0 10px;
}

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 0;
}

.user-reg {
    padding: 30px 30px;
    margin: 50px auto;
}

.reg-form {
    background: #fff;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    border-radius: 11px;
}

.admin-data {
    margin: 60px 0 70px 0;
}

.data-table {
    padding: 30px 0;
    cursor: pointer;
}

.app-des {
    text-align: center;
    padding: 30px 0;
}

.app-des h2 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 65px;
    margin-bottom: 20px;
}