body {
    background: #FAFAFA;
    font-family: sans-serif;
}

h2 {
    color: red;
    font-family: sans-serif;
}

.res-block {
    width: 300px;
    background: #fff;
    padding: 30px 10px;
    margin: 40px 30px;
    box-shadow: 4px 3px 8px 1px #e0dcdc;
    border-radius: 2%;
}

.reg-from {
    padding: 0 30px;
}

.reg-from input {
    border: 2px solid #e3e7e9;
    background: #fff;
    display: block;
    margin-bottom: 7px;
    border-radius: 2px;
    padding: 10px 30px;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

.reg-from input:focus {
    border-color: #2299d5;
    color: #444;
    transition: border-color 0.3s linear;
}

.reg-from button {
    cursor: pointer;
    text-align: center;
    background: #FD971F;
    padding: 10px 25px;
    border: 0;
    margin-right: 10px;
}

.page_title {
    margin: 0 auto;
    width: 20%;
    background: #4A4A4A;
    padding: 10px 30px;
    text-align: right;
}

.page_title span {
    display: block;
    margin: 0 -65px;
    font-size: 40px;
    color: #FD971F
}

table.unstyledTable {
    font-family: Verdana, Geneva, sans-serif;
    border: 1px solid #e7e7e7;
    text-align: center;
    width: 100%;
}

table.unstyledTable td,
table.unstyledTable th {
    border-left: 1px solid #4a4a4a;
}

table.unstyledTable thead {
    color: #FD971F;
}

table.unstyledTable thead th {
    font-weight: normal;
    border-bottom: 1px solid #4a4a4a;
}

.userinfo {
    margin: 0 auto;
    width: 900px;
    padding: 20px 30px;
    background: #fff;
    margin: 48px auto 35px auto;
}

h3 {
    color: #fd971f;
}

.user_block {
    margin: 0 auto;
    padding: 20px 30px;
    width: 700px;
    background: #F1F3F4;
    margin-top: 30px;
}

.app_title {
    padding: 10px 20px;
    margin: 10px 0 40px 0;
    text-align: center;
}

.app_name {}

.saved_data {
    background: #FAFAFA;
    padding: 10px;
    margin: 30px 0;
    overflow: hidden;
}

.data_card {
    background: #E2E2E2;
    padding: 10px;
    width: 180px;
    float: left;
    margin: 5px;
}

.usersaved_data {}