<!DOCTYPE html>
<html>
<head>
	<title>Admin panel</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

	<div class="page_title">
		<span>Admin panel</span>
  </div>
  <div class="userinfo">
      <table class="unstyledTable">
          <thead>
              <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Details</th>
                </tr>
          </thead>
                <tbody>
                <tr>
                  <td>01</td><td>User one</td><td>user_1@email.com</td><td>Null</td>
                </tr>
                <tr>
                  <td>02</td><td>User one</td><td>user_2@email.com</td><td>Null</td>
                </tr>
                </tbody>

      </table>
  </div>


</body>
</html>
