<!DOCTYPE html>
<html>
<head>
	<title>Cloud Todo App</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="user_block">
		<div class="app_title">
			<!-- <span class="app_name">Wellcome TO CloudTodo</span> -->
			<span class="app_name">Wellcome {{ userrrrr_name }}</span>

		</div>
		<div class="user-data">
			<div class="sidebar"></div>
			<div class="user_content">
				<div class="user_note">
					<div class="note_data">
						<form action="/userdash" method="post">
						<input type="text" name="note" placeholder="Note title"><br>
					  <textarea name="message" rows="5" cols="25" placeholder="Type Your Note"></textarea>
					  <br>
					  <input type="submit" value="save">
					</form>
					</div>
				</div>
			</div>
			<div class="saved_data">

				{% for note in notes %}

				<div class="data_card">
					<div class="usersaved_data">
						<h4>{{ note.note }}</h4>
						<p>{{ note.message }}</p>
					</div>
				</div>
				{% endfor %}

				<!-- <div class="data_card">
					<div class="usersaved_data">
						<h4>Datatitle</h4>
						<p>user data goes here</p>
					</div>
				</div> -->
		</div>
	</div>
</body>
</html>
