<!DOCTYPE html>
<html>
<head>
	<title>Cloud Todo App</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="user_block">
		<div class="app_title">
			<!-- <span class="app_name">Wellcome TO CloudTodo</span> -->
			<span class="app_name">Wellcome {{ name }}</span>

		</div>
		<div class="user-data">
			<div class="sidebar"></div>
			<div class="user_content">
				<div class="user_note">
					<div class="note_data">
						<form action="/userdash" method="post">
						<input type="text" name="note" placeholder="Note title"><br>
					  <textarea name="message" rows="5" cols="25" placeholder="Type Your Note"></textarea>
					  <br>
					  <input type="submit" value="save">
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
